
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    /* REMOVE BLUE BOX WHEN TAP ON TAB*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    height: 100%;
    margin: 0;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: linear-gradient(95deg, #c9d6ff, #e2e2e2); 
    font-family: sans-serif;
    line-height: 1.4;

    padding: 0; 
    margin: 0; 
} 

#map {
    width: 600px;
    height: 400px;
}

#map { 
    height: 100%; 
    width: 100vw; 
}

/* toggle menu classes */

#block_container
{
    text-align:center;
}
#bloc1, #bloc2
{
    display:inline;
}

.container {
    height: 100%;
    width: 90px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-90px);
}


.container .head {
    width: 74px;
    color: #fbfdce;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#df0155,#ed4901);
}

.toggleMenu {
    width: 100%;
    list-style: none;
}

.toggleMenu li {
    display: block;
    width: 100%;
}

.toggleMenu li .buttonClass {
    color: #034efc;
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    text-transform: capitalize;
}

.toggleMenu li .buttonClass i {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 8px;
}

.toggleMenu li:hover .buttonClass{
    background: #030303;
    color: #00eaff;
    letter-spacing: 5px;
}

input {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

span{
    position: absolute;
    right: -30px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;
}

#bars {
    background: red;
}

#check:checked ~ .container{
    transform: translateX(0);
}

#check:checked ~ .container #bars{
    display: none;
}

/* Layers panel classes */

.layersContainer {
    height: 100%;
    width: 590px;
    position: absolute;
    background: #161616;
    z-index: 1;
    visibility: hidden;
    border: 1px solid green;
    margin-left: 80px;
    margin-top: 55px;
}

